*{
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
}


.headline{
text-align: center;	
margin: 20px 0;
}
nav{
	border-top: solid black 1px;
	border-bottom: solid black 1px;
}
.nav-list{
	text-align: center;
	 padding: 15px 0; /
	margin: 0 auto;
}
.list-item{
  display: inline-block;
  list-style: none;
  margin: 0 20px;
}
main{
	font-size: 0;
}
.box-colorful{
	padding: 50px 0;
    text-align: center;
}
.box{
	width: 200px;
	height: 200px;
	display: inline-block;
}
.a{
	background-color: #e6ffe9;
}
.b{
	background-color: #cbffd3;
}
.c{
	background-color: #aeffbd;
}
.d{
	background-color: #93ffab;
}

.e{
	background-color: #f3ffd8;
}
.f{
	background-color: #edffbe;
}
.g{
	background-color: #e9ffa5;
}
.h{
	background-color: #e4ff8d;
}
.i{
	background-color: #d9e5ff;
}
.j{
	background-color: #bad3ff;
}
.k{
	background-color: #a4c6ff;
}
.l{
	background-color: #8eb8ff;
}




footer{
	width: 100%;
	height: 120px;
	background-color: #848282;
    line-height: 120px;
    text-align: center;
}
.footer-text{
	 color: #fff;
}