*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

main{
	padding: 50px 0 50px 0;
	width: 960px;
	margin: 0 auto;
}

.list-page{
	padding: 50px 0;
}

.list-item{
	padding: 20px 0 20px 20px;
	font-size: 18px;
}
.list-item:nth-child(odd){
	background-color: #dcdcdc;
}

.box1{
	font-size: none;
}
.box-list{
	font-size: 0;
}
.list-box{
	background-color: yellow;
	height: 200px;
	width: 30%;
	display: inline-block;
}

.list-box:nth-child(1){
background-color: orange;
margin-bottom: 40px;
}
.list-box:nth-child(2){
margin-left: 5%;
margin-right: 5%;
margin-bottom: 40px;
}

.list-box:nth-child(3){
margin-bottom: 40px;
}

.list-box:nth-child(4){
margin-bottom: 40px;
}

.list-box:nth-child(5){
background-color: orange;
margin-left: 5%;
margin-right: 5%;
margin-bottom: 40px;
}
.list-box:nth-child(6){
margin-bottom: 40px;
}

.list-box:nth-child(8){
margin-left: 5%;
margin-right: 5%;
}


.list-box:nth-child(9){
background-color: orange;
}

.list-box:nth-child(2){
margin-left: 5%;
margin-right: 5%;
}
